## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

In [1]:
print(7**4)

2401

** What is 7 to the power of 4?**

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [2]:
s = "Hi there dad"

In [3]:
s.split()

['Hi', 'there', 'dad']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [4]:
planet = "Earth"
diameter = 12742

In [5]:
print("The diameter of {} is {} kilometers.".format(planet,diameter))

The diameter of Earth is 12742 kilometers.

** Given this nested list, use indexing to grab the word "hello" **

In [6]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [8]:
print(lst[3][1][2])

['hello']

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [9]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [10]:
print(d['k1'][3]['tricky'][3]['target'][3])

hello

** What is the main difference between a tuple and a list? **

In [11]:
List is mutable whereas tuple is immutable.

List is used using [] brackets whereas Tuple is used using ().

List is dynamic whereas tuple is static .

SyntaxError: ignored

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [12]:
d="user@domain.com"
def fun(d):
  a=""
  res= False
  for i in d:
    if(res):
      a+=i
    if(i=="@"):
      res = True
  return a
  
print(fun(d))

domain.com

'domain.com'

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [13]:
def res(sentence,word):
  s=sentence.split(" ")
  for i in s:
    if(i==word):
      return True
  return False
s="My Dog name is Dora"
word = "Dog"
if(res(s,word)):
  print("True")
else:
  print("False")

True

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [14]:
def res(str, word):
    a = str.split(" ")
    c = 0
    for i in range(0, len(a)):
        if (word == a[i]):
           c = c+ 1           
    return c      

str ="Dog is a pet and i love Dog"
word ="Dog"
print(res(str, word))

2

2

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [15]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [16]:
print(caught_speeding(200,True))

Big Ticket

In [17]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'
print(caught_speeding(71,False))

Small Ticket

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [25]:
n=int(input())
employees = []
for i in range(1,n+1):
  employees.append(input()1)
salary={}
for emp in employees:
  amount=int(input(f'Enter salary for {emp}: '))
  salary[emp]=amount
print('Total salary ', sum(salary.values()))

5
tamil
anadhi
akash
deeps
ranjini
Enter salary for tamil: 100
Enter salary for anadhi: 100
Enter salary for akash: 199
Enter salary for deeps: 100
Enter salary for ranjini: 100
Total salary  599

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [27]:
a={'Empid' : 401, 'Empname':"Dharshan","Basicpay": 10000}
b= {'DeptName': "Excecutive", 'Deptid': 12345}
def res(a,b):
  c=a.copy()
  c.update(b)
  return c
c=res(a,b)
print(c)

{'Empid': 401, 'Empname': 'Dharshan', 'Basicpay': 10000, 'DeptName': 'Excecutive', 'Deptid': 12345}